* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header {
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  color: white;
  display: flex;
  justify-content: space-around;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.initial-text {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
