* {
    margin: 0;
}

body {
    font-size: 16px;
    text-align: justify;
    background-color: #e9ebed;
}

h1, h2 {
    padding: 10px 0;
}

header {
    background-color: aquamarine;
    padding: 10px;
}

.style-components {
    padding: 5px 10px;
    width: 80%;
    margin: 0 auto;
}

.style-components div {
    display: inline-block;
    padding-right: 30px;
}

#main-content {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
}
