body {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    max-width: 1070px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F6F4D2;
}

h1 {
    color: #A44A3F
}

h2, h3 {
    color: #F19C79;
}

.nav-links {
    display: inline-block;
    margin-right: 45px;
}

.top-line {
    border-top: solid 1px #CBDFBD;
}

